*, 
*:before,
*:after {
	box-sizing: border-box; 
	margin: 0; 
}

.clearfix:after {
	display: table; 
	content: " "; 
}

.container {
    background-color: #dfdfdf;
	width:auto;
	margin: 0 auto;  
    margin-bottom: 0px;
    padding-top: 80px;
    padding-bottom: 120px; 
    color: #212121;
}

.work {
    background-color: #212121;
	width:auto;
	margin: 0 auto;  
    margin-bottom: 0px;
    padding-top: 0px;
    padding-bottom: 0px; 
    color: #dfdfdf;
}



.home {
	background-color: #dfdfdf;
    font-family: 'Josefin Sans', sans-serif;
}


.head {
    background-color: #F5F5F5;
    font-family: 'Josefin Sans', sans-serif;
    background: url('https://raw.githubusercontent.com/melissaames/melissaames.github.io/master/images/estes.jpg') 50% no-repeat;
    background-size: cover;
    overflow: hidden;
    position: relative;
    height:auto;
    width:100%;
}


header {
	font-family: 'Josefin Sans', sans-serif;
    position: relative;
    color: white;
    text-align: center;
    height: 100%;
    width: 100%;
    cursor: default;
    word-spacing: 0.6em;
    letter-spacing: 8px;
    margin-top: 100px;
}



body {
    background-color: #78909C;
    font-family: 'Josefin Sans', sans-serif;
    font-size: 12pt;
    line-height: 1.5em;
    font-weight: 300;
    letter-spacing: 1px;
    color: #212121;
    text-align: left;
}

.logo {
    padding-left: 10px;
    padding-top: 10px;
}

    
.arrow a:link, a:visited{
	color: #dfdfdf;
}

.arrow a:hover, nav a:active {
	color: white;
}

.arrow a:active {
    color: #dfdfdf;
}

h1 {
    line-height: 0.5em;
    color: #212121;
    font-size: 4em;
}
			
h2 {
    font-size: 1.25em;
    letter-spacing: 8px;
    font-family: 'Josefin Sans', sans-serif;
	font-size: 18px;
	color: #212121;
	text-align: center;
	padding-top: 20px;
    padding-bottom: 320px;
}

h3 {
    font-size: 1.25em;
    letter-spacing: 8px;
    font-family: 'Josefin Sans', sans-serif;
	font-size: 18px;
	color: #212121;
	text-align: center;
    padding: 15px;
}

h4 {
    font-size: 1.25em;
    letter-spacing: 8px;
    font-family: 'Josefin Sans', sans-serif;
	font-size: 18px;
	color: #dfdfdf;
	text-align: center;
	padding: 20px;
}


p {
    text-align: center;
    padding-top: 0px;
    padding-bottom: 10px;
}


.box {
    left: 0;
    right: 0; 
    position: absolute;
    background: rgba(255,255,255,0.55);
	border: rgba(255,255,255,0.5);
	padding: 25px 220px;
	margin-bottom: 15px;
    color: white;
    font-family: 'Josefin Sans', sans-serif;
    text-align: center;
}

.nav {
	padding: 5px;
	text-decoration: none; 
	word-spacing: 0.2em;
    padding-left: 60px;
    padding-top:  100px;
}

nav a {
	font-size: 1.8em;
	font-family: 'Josefin Sans', sans-serif;
	text-decoration: none;
	word-spacing: -0.2em;
}


nav ul li {
	list-style-type: none;
	display: inline;
	margin-right: 40px;
}


nav a:link, a:visited{
	color: #212121;
}

nav a:hover, nav a:active {
	color: white;
}

nav a:active {
    color: #212121;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.left {
	float: left;
}

.right {
	float: right;
}

.center {
	text-align: center;  
}

.portfolio ul li {
	float: left;
    margin-left: 1px;
	margin-right: 10px;
    padding-bottom: 20px;
}

.portfolio {
    margin-top: 40px;
    padding-left: 15px;
}

.grid {
	padding: 0px 0px;
	margin-bottom: 20px;
	margin-top: 20px;
	display: block;
	text-align: center;
}

.icons {
    font-size: 12px;
    padding-top: 15px;
}

.icons a:link, a:visited{
	color: #212121;
}

.icons a:hover, nav a:active {
	color: white;
}

.icons a:active {
    color: #212121;
}

footer {
	font-family: 'Josefin Sans', sans-serif;
	font-size: 20px;
	color: #dfdfdf;
	letter-spacing: 2px;
	text-align: center;
    background-color:#212121;
    padding-top: 30px;
    padding-bottom: 30px;
}


button,
input,
textarea {
    color: inherit; /* 1 */
    font: inherit; /* 2 */
    margin: 0; /* 3 */
}

*, :after, :before {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

/* Form Styles */

.container { width: 100%; }
.ajax-form { width: 100%; }
.ajax-form input, 
.ajax-form textarea {
  	padding: 20px;
  	border: 3px solid #ccc;
  	border-radius: 6px;
  	margin: 0 0 27px;
    background: #eee;
    outline: none;
    -webkit-transition: all .25s ease-in-out;
    -moz-transition: all .25s ease-in-out;
    -o-transition: all .25s ease-in-out;
    transition: all .25s ease-in-out; 
}

.ajax-form input:focus, 
.ajax-form textarea:focus {
  	border: 3px solid #2735A7;
    color: #424651;
}

.ajax-form input[type="submit"] {
    border: 3px solid #2735A7;
	color: #2735A7;
}

.ajax-form input[type="submit"]:hover {
  	background-color: #2735A7;
    border: 3px solid #2735A7;
    color: white;
}

.name, .email { width: 48%; }

.name { float: left; }
.email { float: right }

.message { width: 100%; }

.form-btn { text-align: center; }

.error { border: 3px solid #ED1941 !important; }
 
.form-thank-you {
  	display: none;
  	width: 100%;
  	text-align: center;
}

.form-thank-you h3 { padding-top: 15px; }

@media (max-width: 577px) {
  .name, .email { 
  	width: 100%; 
  	float: none;
  }

}


.image-zoom-container {
	list-style: none;
	font-size: 0px;
}
.zoom-container {
	position: relative;
	overflow: hidden;
	display: inline-block;
	width: 25%;
	font-size: 16px;
	font-size: 1rem;
	border: 1px solid #fff;
	vertical-align: top;
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
}
.zoom-container img {
	display: block;
	width: 100%;
	height: auto;
	-webkit-transition: all .5s ease; /* Safari and Chrome */
        -moz-transition: all .5s ease; /* Firefox */
        -ms-transition: all .5s ease; /* IE 9 */
        -o-transition: all .5s ease; /* Opera */
        transition: all .5s ease;
}
.zoom-container .zoom-caption {
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	z-index: 10;
	background: rgba(0, 0, 0, .5);
	-webkit-transition: all .5s ease; /* Safari and Chrome */
        -moz-transition: all .5s ease; /* Firefox */
        -ms-transition: all .5s ease; /* IE 9 */
        -o-transition: all .5s ease; /* Opera */
        transition: all .5s ease;
}

.zoom-container .zoom-caption h3 {
	display: block;
	text-align: center;
	font-family: 'Source Sans Pro', sans-serif;
	font-size: 1.5em;
	font-weight: 900;
	letter-spacing: -1px;
	text-transform: uppercase;
	color: #fff;
	margin: 23% 0 0;
	padding: 10px 0;
	border-top: 5px solid rgba(255, 255, 255, .00);
	border-bottom: 5px solid rgba(255, 255, 255, .00);

}
.zoom-container:hover img {
	-webkit-transform:scale(1.25); /* Safari and Chrome */
        -moz-transform:scale(1.25); /* Firefox */
        -ms-transform:scale(1.25); /* IE 9 */
        -o-transform:scale(1.25); /* Opera */
         transform:scale(1.25);
}
.zoom-container:hover .zoom-caption {
	background: none;
}
 
@media (max-width: 767px) {
	.zoom-container {
		width: 50%;
	}
}
 
@media (max-width: 480px) {
	.zoom-container {
		width: 100%;
	}
}
