*, 
*:before,
*:after {
	box-sizing: border-box; 
	margin: 0; 
}

.clearfix:after {
	display: table; 
	content: " "; 
}

.container {
    background-color: #dfdfdf;
	width:auto;
	margin: 0 auto;  
    margin-bottom: 0px;
    padding-top: 80px;
    padding-bottom: 120px; 
    color: #212121;
}

.work {
    background-color: #212121;
	width:auto;
	margin: 0 auto;  
    margin-bottom: 0px;
    padding-top: 0px;
    padding-bottom: 0px; 
    color: #dfdfdf;
}



.home {
	background-color: #dfdfdf;
    font-family: 'Josefin Sans', sans-serif;
}


.head {
    background-color: #F5F5F5;
    font-family: 'Josefin Sans', sans-serif;
    background: url('https://raw.githubusercontent.com/melissaames/melissaames.github.io/master/images/estes.jpg') 50% no-repeat;
    background-size: cover;
    overflow: hidden;
    position: relative;
    height:auto;
    width:100%;
}


header {
	font-family: 'Josefin Sans', sans-serif;
    position: relative;
    color: white;
    text-align: center;
    height: 100%;
    width: 100%;
    cursor: default;
    word-spacing: 0.6em;
    letter-spacing: 8px;
    margin-top: 100px;
}



body {
    background-color: #78909C;
    font-family: 'Josefin Sans', sans-serif;
    font-size: 12pt;
    line-height: 1.5em;
    font-weight: 300;
    letter-spacing: 1px;
    color: #212121;
    text-align: left;
}

.logo {
    padding-left: 10px;
    padding-top: 10px;
}

    
.arrow a:link, a:visited{
	color: #dfdfdf;
}

.arrow a:hover, nav a:active {
	color: white;
}

.arrow a:active {
    color: #dfdfdf;
}

h1 {
    line-height: 0.5em;
    color: #212121;
    font-size: 4em;
}
			
h2 {
    font-size: 1.25em;
    letter-spacing: 8px;
    font-family: 'Josefin Sans', sans-serif;
	font-size: 18px;
	color: #212121;
	text-align: center;
	padding-top: 20px;
    padding-bottom: 320px;
}

h3 {
    font-size: 1.25em;
    letter-spacing: 8px;
    font-family: 'Josefin Sans', sans-serif;
	font-size: 18px;
	color: #212121;
	text-align: center;
    padding: 15px;
}

h4 {
    font-size: 1.25em;
    letter-spacing: 8px;
    font-family: 'Josefin Sans', sans-serif;
	font-size: 18px;
	color: #dfdfdf;
	text-align: center;
	padding: 20px;
}


p {
    text-align: center;
    padding-top: 0px;
    padding-bottom: 10px;
}


.box {
    left: 0;
    right: 0; 
    position: absolute;
    background: rgba(255,255,255,0.55);
	border: rgba(255,255,255,0.5);
	padding: 25px 220px;
	margin-bottom: 15px;
    color: white;
    font-family: 'Josefin Sans', sans-serif;
    text-align: center;
}

.nav {
	padding: 5px;
	text-decoration: none; 
	word-spacing: 0.2em;
    padding-left: 60px;
    padding-top:  100px;
}

nav a {
	font-size: 1.8em;
	font-family: 'Josefin Sans', sans-serif;
	text-decoration: none;
	word-spacing: -0.2em;
}


nav ul li {
	list-style-type: none;
	display: inline;
	margin-right: 40px;
}


nav a:link, a:visited{
	color: #212121;
}

nav a:hover, nav a:active {
	color: white;
}

nav a:active {
    color: #212121;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.left {
	float: left;
}

.right {
	float: right;
}

.center {
	text-align: center;  
}

.portfolio ul li {
	float: left;
    margin-left: 1px;
	margin-right: 10px;
    padding-bottom: 20px;
}

.portfolio {
    margin-top: 40px;
    padding-left: 15px;
}

.grid {
	padding: 0px 0px;
	margin-bottom: 20px;
	margin-top: 20px;
	display: block;
	text-align: center;
}

.icons {
    font-size: 12px;
    padding-top: 15px;
}

.icons a:link, a:visited{
	color: #212121;
}

.icons a:hover, nav a:active {
	color: white;
}

.icons a:active {
    color: #212121;
}

footer {
	font-family: 'Josefin Sans', sans-serif;
	font-size: 20px;
	color: #dfdfdf;
	letter-spacing: 2px;
	text-align: center;
    background-color:#212121;
    padding-top: 30px;
    padding-bottom: 30px;
}

@import "compass/css3";

@import url(http://fonts.googleapis.com/css?family=Roboto:400,700);

$black:       #1a1a1a;
$blue:        #3498db;
$gray:        #cbd0d3;
$white:       #ffffff;

// Base Styles
* {
  margin: 0;
  padding: 0;
}
body {
  background: $gray;
  color: $black;
  font-family: 'Roboto', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-size: 13px;
  font-weight: 400;
}
input, textarea {
  border: none;
  outline: none;
  resize: none;
  width: 100%;
  @include appearance(none);
}
label {
  &:hover { cursor: text; }
}
.credit {
  bottom: 40px;
  color: darken($gray,20%);
  font-size: 12px;
  left: 0;
  position: absolute;
  right: 0;
  text-align: center;
  z-index: 99;
  a {
    color: darken($gray,35%);
    text-decoration: none;
    &:hover { color: $black; }
    &:active { color: lighten($black,10%); }
  }
}

// Form Styles
.contact-form {
  background: $white;
  height: auto;
  margin: 100px auto;
  max-width: 500px;
  overflow: hidden;
  width: 65%;
  @include border-radius(5px);
  @include box-shadow(rgba($black,0.1) 0 1px 3px 0);
  @media (max-width: 500px) {
    margin: 0 0 100px;
    width: 100%;
  }
  .email, .message, .name {
    position: relative;
    input, textarea {
      &:focus {
        background: lighten($gray,15%);
      }
    }
    label {
      color: $gray;
      left: 23px;
      position: absolute;
      top: 23px;
      @include transition(all,150ms);
    }
    &.typing label {
      color: $blue;
      font-size: 10px;
      top: 7px;
    }
  }
  .email, .name {
    width: calc(50% - 1px);
    @media (max-width: 500px) {
      width: 100%;
    }
    input {
      // height: 45px;
      padding: 23px 0 8px 23px;
    }
  }
  .email {
    border-left: 1px darken($white,10%) solid;
    float: right;
    @media (max-width: 500px) {
      border-left: none;
      border-top: 1px darken($white,10%) solid;
    }
  }
  .message {
    border-bottom: 1px darken($white,10%) solid;
    border-top: 1px darken($white,10%) solid;
    clear: both;
    textarea {
      height: 200px;
      padding: 23px;
    }
  }
  .name {
    float: left;
  }
  .submit {
    background: lighten($gray,15%);
    display: block;
    overflow: hidden;
    padding: 23px;
    .button {
      background: $blue;
      border: 1px $blue solid;
      color: $white;
      float: right;
      padding: 9px 0;
      width: 100px;
      @include border-radius(5px);
      @media (max-width: 500px) {
        float: none;
      }
      &:hover { background: lighten($blue,5%); }
      &:active { background: darken($blue,5%); }
      &:focus {
        border-color: lighten($blue,30%);
        @include box-shadow(
          lighten($blue,15%) 0 0 4px 1px,
          lighten($blue,15%) 0 0 4px 1px inset
        );
      }
    }
    .user-message {
      float: left;
      padding-top: 22px;
      @media (max-width: 500px) {
        float: none;
        padding: 0 0 10px;
      }
    }
  }
}



.image-zoom-container {
	list-style: none;
	font-size: 0px;
}
.zoom-container {
	position: relative;
	overflow: hidden;
	display: inline-block;
	width: 25%;
	font-size: 16px;
	font-size: 1rem;
	border: 1px solid #fff;
	vertical-align: top;
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
}
.zoom-container img {
	display: block;
	width: 100%;
	height: auto;
	-webkit-transition: all .5s ease; /* Safari and Chrome */
        -moz-transition: all .5s ease; /* Firefox */
        -ms-transition: all .5s ease; /* IE 9 */
        -o-transition: all .5s ease; /* Opera */
        transition: all .5s ease;
}
.zoom-container .zoom-caption {
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	z-index: 10;
	background: rgba(0, 0, 0, .5);
	-webkit-transition: all .5s ease; /* Safari and Chrome */
        -moz-transition: all .5s ease; /* Firefox */
        -ms-transition: all .5s ease; /* IE 9 */
        -o-transition: all .5s ease; /* Opera */
        transition: all .5s ease;
}

.zoom-container .zoom-caption h3 {
	display: block;
	text-align: center;
	font-family: 'Source Sans Pro', sans-serif;
	font-size: 1.5em;
	font-weight: 900;
	letter-spacing: -1px;
	text-transform: uppercase;
	color: #fff;
	margin: 23% 0 0;
	padding: 10px 0;
	border-top: 5px solid rgba(255, 255, 255, .00);
	border-bottom: 5px solid rgba(255, 255, 255, .00);

}
.zoom-container:hover img {
	-webkit-transform:scale(1.25); /* Safari and Chrome */
        -moz-transform:scale(1.25); /* Firefox */
        -ms-transform:scale(1.25); /* IE 9 */
        -o-transform:scale(1.25); /* Opera */
         transform:scale(1.25);
}
.zoom-container:hover .zoom-caption {
	background: none;
}
 
@media (max-width: 767px) {
	.zoom-container {
		width: 50%;
	}
}
 
@media (max-width: 480px) {
	.zoom-container {
		width: 100%;
	}
}
